<!DOCTYPE html>
<html>
<head>
    <title>Login to Facebook</title>
    <meta charset="UTF-8">

    <link href="/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/css/rift.css" rel="stylesheet">
</head>
<body>

<div class="launch-wrapper">
    <h3>Your virtual world is ready to go!</h3>

    <p>Go ahead and launch the Frift application now.</p>
    <p>Don't have the application?  You can download it <a href="/downloads/app">here</a>!</p>

    <a class="btn launch-button" href="frift://"><h5>Launch Frift</h5></a>
</div>


<div id="status">
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/knockout-3.2.0.js"></script>
<script src="/js/launch.js"></script>
</body>
</html>